<h1>Please log in</h1>

<form action="/session" method="post">
<label for="">email</label>
<input name="email" type="text">

<label for="">password</label>
<input name="password" type="password">

<button>Log in</button>
</form>


<h1>Don't have an account? Sign up</h1>

<form action="/signup" method="get">
<button>Sign up</button>
</form>