<div class="loginbody">
    <div class="login_wrapper">
        <h3>Please sign in</h3>

        <div class="emailpasswordwrap">
            <form class="loginform" action="/session" method="post">
                <div class="email">
                    <label for="">Email</label>
                    <input name="email" type="text">
                </div>

                <div class="password">
                    <label for="">Password</label>
                    <input name="password" type="password">
                </div>
                <button class="login-btn">Log in</button>
            </form>
        </div>
        <div class="loginsignupbox">
            <h3>Don't have an account? Sign up</h3>

            <form action="/signup" method="get">
            <button class="signup-btn"> Sign up </button>
            </form>
        </div>


    </div>

</div>