<h1>Create new project</h1>

<form action="/project/new" method="post">

<label for="">Project name</label>
<input name="name" type="text">

<label for="">Max hours</label>
<input name="max_hours" type="number">

<button> Create </button>
</form>