<section class="dashboard-section">
  <div class="sidebar">
    <a href="">Tasks</a>
    <a href="/projects">Projects</a>
  </div>
  <div class="dashboard-main">
    <h2 class="section__header">Projects</h2>
        <div class="projects-wrap">
            <a class="project-card add-project-btn" href="">
                <i class="fas fa-plus"></i>
            </a>
    <%@project.each do |project|%>
            <div class="project-card">
                <h4><%=project[:name]%></h4>
                <p><%=@tasks.where(project_id: project[:id]).length%> tasks</p>
            </div>
        </div>
    <%end%>
  </div>
</section>