
<section class="dashboard-section">
  <div class="sidebar">
    <div class="logo-btn">
      <img src="/imgs/logo.svg" alt="" srcset="">
    </div>
    <div class="nav-link-container">
      <a class="nav-link" href="/tasks">Tasks</a>
      <a class="nav-link" href="/projects">Projects</a>
    </div>
  </div>
  <div class="dashboard-main">
    <h1><%= @project.name %></h1>
    <h2 class="section__header">Tasks</h2>
      <div>
        <form class="task-create-form" action="/tasks" method="post">
          <button class="icn-btn task-create__btn"><i class="fas fa-plus"></i></button>
          <input type="hidden" name="project_id" value="<%= @project.id%>">
          <input class="task-input" name="task_name" placeholder="New Task">
          <input type="hidden" name="project_id" placeholder="<%=@project.id%>">
        </form>
        <div class='task-list'>
        </div>
      </div>
  </div>
  
</section>



<script src="/javascripts/application.js"></script>
<script src="/javascripts/project_tasks.js"></script>
<script src="/javascripts/generate_tasks.js"></script>
