<section class="dashboard-section">
  <div class="sidebar">
    <div class="logo-btn">
      <img src="/imgs/logo.svg" alt="" srcset="">
    </div>
    <div class>
      <a class="nav-link" href="">Tasks</a>
      <a class="nav-link" href="">Projects</a>
    </div>
  </div>
  <div class="dashboard-main">
    <h2 class="section__header">Tasks</h2>
      <div>
        <form class="task-create-form" action="/tasks" method="post">
          <button class="icn-btn task-create__btn"><i class="fas fa-plus"></i></button>
          <input class="task-input" name="task_name" placeholder="New Task">
        </form>
        <div class='task-list'>
        </div>
      </div>
  </div>
  
</section>
<script src="/javascripts/application.js"></script>
<script src="/javascripts/tasks.js"></script>